.Rproj.user
.Rhistory
.Ruserdata
updateR.R
.obsidian/
*.RData
*.csv
*.jpg
*.png
/resultados/doc/*.aux
*.xlsx
/datos/*
/anteriores/*
/graficos/*
previos/*
/resultados/*.txt
/resultados/*.log
/resultados/*.xlsx
/resultados/encuesta/*
/resultados/doc/*.log
/resultados/doc/*.gz
/resultados/logs/*
/resultados/ensanut/*
/resultados/encuesta/*
/resultados/encuesta/*.log
/ensanut/anteriores/*
/stata_code/elasticidad/
/stata_code/dyn/
stata_code/kernels/*
stata_code/ensanut/drafts/*
stata_code/ensanut/anteriores/*


