.Rproj.user
.Rhistory
.Ruserdata
*.RData
*.csv
*.jpg
*.png
/resultados/doc/*.aux
*.xlsx
/datos/*
/resultados/*.xlsx
/resultados/encuesta/*
/resultados/doc/*.log
/resultados/doc/*.gz
/resultados/logs/*
/stata_code/elasticidad/

